node_modules
.DS_Store
dist
.env
.env.*
.env.local
.env.docker
frontend/node_modules
backend/node_modules
frontend/dist
backend/uploads

# Docker
docker-compose.override.yml
docker volumes (handled by docker-compose)

# VS Code
.vscode

# JetBrains IDE
.idea/

